<!DOCTYPE html>
<html>
  <head>
    <title>SunNoti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>

    <!-- This file must be rendered before the end of the body tag -- >
    <%= render "shared/webpushr/tracking_code" %>
  </body>
</html>
